.lst{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #333;
}
.catagory{
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
    background-color: aquamarine;
    border-radius: 50%;
    border:10px

}
.catagory:hover{
    background-color: #333;
    color: aquamarine;
    cursor: pointer;
}